html, body {
  margin: 0;
  /* padding: 0;
  background-image: linear-gradient(to right, red , yellow), url('profile.jpeg'); */
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('profile.jpeg');
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.available{
  color:aliceblue; 
   position: absolute;
   top: 40%;
   left: 40%;
   z-index: 1000;
   -webkit-animation: mymove 2s infinite ; /* Chrome, Safari, Opera */
   animation: mymove 1s infinite;
   animation-direction: alternate;

 }

 #music{
  position: absolute;
  top:60%;
  left: 40%;
  z-index: 1000;
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes mymove {
   0% {color: white;}
   30% {color: green;}
   60% {color: blue;}
   90% {color: red;}
   100% {color: white}
 }
 
 /* Standard syntax */
 @keyframes mymove {
  0% {color: white;}
   30% {color: green;}
   60% {color: blue;}
   90% {color: red;}
   100% {color: white}
 }


 /* Media Query */
 @media only screen and (max-width: 600px) {
  #music{
    position: absolute;
    top:80%;
  left: 10%;
    z-index: 1000;
   }
}

